In [8]:
import pandas as pd

pathClientes = ('C:/Users/MIPC/Desktop/Hackaton_BBVA_2022/FormatoClientes.xlsx')

pd.read_excel(pathClientes)

,id,idCliente,nombre,apellidoPaterno,apellidoMaterno,fechaNacimiento,sexo,segmento,nacionalidad,rfc,tipoID,numeroID,cuenta,email,TDD
0,1,AU000,Prueba,Lopes,Lol,1998-09-21,F,1,Mexicana,uhsuiwhu,uh,787767,vg,gffgfgf@w,q

In [9]:
clientes = pd.read_excel(pathClientes)

clientes.head(5)

,id,idCliente,nombre,apellidoPaterno,apellidoMaterno,fechaNacimiento,sexo,segmento,nacionalidad,rfc,tipoID,numeroID,cuenta,email,TDD
0,1,AU000,Prueba,Lopes,Lol,1998-09-21,F,1,Mexicana,uhsuiwhu,uh,787767,vg,gffgfgf@w,q

In [14]:
clientes['rfc'].head()
clientes_filtrados = clientes.query("idCliente == 'AU000'")
print(clientes_filtrados)

   id idCliente  nombre apellidoPaterno apellidoMaterno fechaNacimiento sexo  \
0   1     AU000  Prueba           Lopes             Lol      1998-09-21    F

   segmento nacionalidad       rfc tipoID  numeroID cuenta      email TDD
0         1     Mexicana  uhsuiwhu     uh    787767     vg  gffgfgf@w   q

In [16]:
perfil = clientes_filtrados['nombre']
print(perfil)

0    Prueba
Name: nombre, dtype: object

In [17]:
if perfil[0] == 'Prueba':
    print('datos de un perfil')

datos de un perfil